
body {
    background-color: #eee;
}

 /* #content {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: Verdana sans-serif;
    font-size: 18px;
    color:#444;
    margin: 0 auto;

    /* Everything over the value of max-height will be hidden
    max-height: 200px;
    overflow: hidden;

    /*We are setting up the transition
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open {
    /* when the content is open, it will show the value of max-height given below
    max-height: 1000px;
    /* Set the transition up
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more {
    background-color: #27ae60;
    color: #fff;
    font-family: calibri;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
} */
