body {
    margin: 0px;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    background-color: green;
    margin: 8px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.active {
    color: black;
    background-color: green;
}

li:last-child {
    border-right: none;
}

.content {
    margin: 30px;

}
