html {
  font-family: "Times New Roman", times, serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 14px;
  resize: vertical
}
.container {
}
nav ul li {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
